# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=open-supervisor

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka topics
KAFKA_TOPIC_AUTH_REQUESTS=auth.requests
# auth.response.{store_id} se construye dinámicamente por store_id
